################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kpozoga
/PolygonsEditor/PolygonsEditor/obj/Release/netcoreapp3.1
/PolygonsEditor/PolygonsEditor/bin/Debug/netcoreapp3.1
/gk1_proj
/tyszkaz_polygons_editor
/gk1_proj.zip
/tyszkaz_polygons_editor.zip
