################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/kpozoga
/PolygonsEditor/PolygonsEditor/obj/Release/netcoreapp3.1
